.todo-items-container {
  margin: 0px;
}

.todo-item-container {
  margin-top: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.date {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 500;
}
.label-container {
  background-color: #e6f6ff;
  width: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: #096f92;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-radius: 4px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin-left: 100px;
}

.delete {
  margin-top: 20xp;
}
.checkbox-input {
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-right: 12px;
}

.todo-head {
  font-size: 34px;
}

.checkbox-label {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  width: 82%;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.but-2 {
  margin: 20px;
  font-size: 30px;
  border-radius: 10px;
  background-color: red;
}
